<div class="container login-container">
    <div class="row justify-content-md-center">
        <div class="col-md-4 login-form-1">
            <h1>Edit Workouts</h1>
            <%= form_with model:@workout, local: true do |form| %>
                <div class="form-group">
                    <%= form.text_field :title, required: true, placeholder: "Title of the Workout" %><br/>
                </div>
                <div class="form-group">
                    <%= form.text_area :description, size: '35x10', required: true, placeholder: "Description...", id:"long-input" %><br/>
                <div class="form-group">
                    <%= form.number_field :duration, required: true, placeholder: "Workout duration"%><br/>
                </div>
                <div class="form-group">
                    <%= form.number_field :price, required: true, placeholder: "Price", id:"long-input" %><br/>
                <div class="form-group">
                    <%= form.label :pictures %>
                    <%= form.file_field  :pictures, multiple: true, accept: 'image/png,image/gif,image/jpeg, image/jpg'%>
                </div>
                <div class="form-group">
                    <%= form.text_field :name, required: true, placeholder: "Category"%>
                </div>
                <div class="form-group">
                    <%= form.submit "Submit", class: "btnSubmit"%>
                </div>
            <%end%>
        </div>
    </div>
</div>