<h1>Workouts Dashboard</h1>

<div class="d-flex flex-row">
    <div class="row">
        <%if @workout%>
            <% @workout.each do |workout|%>
                <div class="card" style="width: 20rem; margin: 20px; padding: 20px;">
                    <% if workout.pictures.attached?%>
                        <%= image_tag workout.pictures[0],class: "card-img-top" %>
                    <%end %>
                    <div class="card-body">
                        <h5 class="card-title">Title:<%= workout.title%></h5>
                        
                        <p class="card-text">Description: <%= workout.description %></p>
                        
                        <%workout.categories.each do |category|%>
                            <p class="card-text">Category: <%= category.name %></p>
                        <%end%>

                        <p class="card-text"><small class="text-muted">Price:<%= number_to_currency(workout.price) %></small></p>
                        
                        <p class="card-text"><small class="text-muted">Duration:<%= workout.duration%></small></p>
                        
                        <%if current_user%>
                            <%= button_to 'Add to cart', show_cart_path(current_user.id), { params: {workout_id: workout.id}} %>
                        <%end%>
                    </div>
                </div>
            <%end%>
        <%end%>
    </div>
</div>