<h1>Workouts#index</h1>

<%if @workout%>
    <% @workout.each do |w|%>
        <div>
            <strong>Title: </strong>
            <%= w.title %>
            <br>
            <strong>Description: </strong>
            <%= w.description %>
            <br>
            <strong>Price: </strong>
            <%= w.price %>
            <br>
            <strong>Duration: </strong>
            <%= w.duration %>
        </div>
        <div class="add-cart-button">
            <%# sending user id and workout id %>
            <%= button_to('Add to cart', show_cart_path(current_user.id),{ params: {workout_id: w.id} }) %>
        </div>
    <%end%>
<%end%>