<h1>Workouts#new</h1>

<%= form_with model:@workout, local: true do |form| %>
    <div class="become-trainer-container">
        <div class="main-trainer-form">
            <div class="new-address-form">
                <%= form.text_field :title, required: true, placeholder: "Title of the Workout" %><br/>
                <%= form.text_area :description, size: '50x10', required: true, placeholder: "Description...", id:"long-input" %><br/>
                <%= form.number_field :duration, required: true, placeholder: "Workout duration"%><br/>
                <%= form.number_field :price, required: true, placeholder: "Price", id:"long-input" %><br/>
                <%= form.text_field :name, required: true, placeholder: "Category" %>
            </div>
        </div>
         <%= form.submit "Submit"%>
    </div>

<%end%>