<h1>Cart </h1>

<%@cart_items.each do |c|%>
    <div>
        <% if c.workout.pictures.attached?%>
        <% c.workout.pictures.each do |p| %>
            <p>
        <%= image_tag p, width: 120 %>
        </p>
        <%end%>
    <%end%>
        <strong>Title: </strong>
        <%= c.workout.title %>
        <br>
        <strong>Description: </strong>
        <%= c.workout.description %>
        <br>
        <strong>Price: </strong>
        <%= c.workout.price %>
        <br>
        <strong>Duration: </strong>
        <%= c.workout.duration %>
        <br>
        <strong>Category: </strong>
            <%c.workout.categories.each do |n|%>
                <%= n.name %>
            <%end%>
    </div>
    <div>
        <%= link_to('Delete', show_cart_path(current_user), method: "delete") %>
    </div>
    <br>
<%end%>