<h1>Cart </h1>
<div class="d-flex flex-row">
    <div class="row">
    <% @cart_items.each do |cart_item|%>
        <div class="card"  style="width: 20rem; margin: 20px; padding: 20px;">
            <% if cart_item.workout.pictures.attached?%>
                <%= image_tag cart_item.workout.pictures[0], class: "card-img-top" %>
            <%end %>
            <div class="card-body">
                <h5 class="card-title">Title:<%= cart_item.workout.title%></h5>
                <p class="card-text">Description: <%= truncate(cart_item.workout.description, length:50) %></p>

                <%cart_item.workout.categories.each do |category|%>
                    <p class="card-text">Category: <%= category.name %></p>
                <%end%>
                
                <p class="card-text"><small class="text-muted">Price:<%= number_to_currency(cart_item.workout.price) %></small></p>
                <p class="card-text"><small class="text-muted">Duration:<%= cart_item.workout.duration%></small></p>
            </div>
            <div class="col-xs-4">
                <%= link_to('Buy now', new_order_path(cart_item_id: cart_item.id), class: "btn btn-success")%>
                <%= link_to('Delete', cart_item_path(cart_item_id: cart_item.id, user_id: current_user.id), method: "delete", class: "btn btn-danger") %>
            </div>
        </div>
    <%end%>
    </div>
</div>