<%# <h1>Trainers Dashboard</h1> %>

<h3>Add a <span>
    <%= link_to 'workout', new_workout_path, class: "badge badge-secondary" %>
</span></h3>

<div class="d-flex flex-row">
    <div class="row">
    <% if @workouts%>
        <%@workouts.each do |workout|%>
            <div class="card" style="width: 20rem; margin: 20px; padding: 20px;">
                <% if workout.pictures.attached?%>
                    <%= image_tag workout.pictures[0],class: "card-img-top" %>
                <%end %>
                <div class="card-body">
                    <h5 class="card-title">Title:<%= workout.title%></h5>
                    
                    <p class="card-text">Description: <%= workout.description %></p>
                    
                    <%workout.categories.each do |category|%>
                        <p class="card-text">Category: <%= category.name %></p>
                    <%end%>

                    <p class="card-text"><small class="text-muted">Price:<%= number_to_currency(workout.price) %></small></p>
                    
                    <p class="card-text"><small class="text-muted">Duration:<%= workout.duration%></small></p>
                </div>
                <div class="col-xs-4">
                    <%= link_to('Edit', edit_workout_path(workout.id), class: "btn btn-success") %>
                    <%= link_to('Delete', workout_path(workout.id), method: "delete", class: "btn btn-danger") %>
                </div>
            </div>
        <% end%>
    <%end%>
    </div>
</div>
